{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}View Product{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="col-md-4"></div>
<div class="col-md-4 container">

    <div class="panel panel-default">
        <div class="panel-heading">
            Product Listing
        </div>
        <div class="panel-body">
            <div class="table-responsive">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Product Id</th>
                            <th>Product Name</th>
                            <th>Delete</th>
                        </tr>

                    </thead>
                    <tbody>
                        {% for product in result %}
                        <tr>
                            <td>{{product.product_id}}</td>
                            <td>{{product.product_name}}</td>
                            <td><a href={{ "delete_product/"  + product.product_id  | string() }}> <span
                                        class="glyphicon glyphicon-remove"></span>
                                </a>

                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
{% endblock %}