{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}View Product{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="container">

    <div class="table-responsive">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Delete</th>
                </tr>

            </thead>
            <tbody>
                {% for product in result %}
                <tr>
                    <td>{{product.product_id}}</td>
                    <td><a href={{ "delete_product/"  + product.product_id  | string() }}> <span
                                class="glyphicon glyphicon-remove"></span>
                        </a>

                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

</div>
{% endblock %}