{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}View Report{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="table-responsive">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Warehouse</th>
                    <th>Quantity</th>

                </tr>
            </thead>
            <tbody>
                {% for location,product in result.items() %}
                {% for product,quantity in  result[location].items() %}
                <tr>
                    <td>{{product}}</td>
                    <td>{{location}}</td>
                    <td>{{quantity}}</td>



                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}