{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}View Report{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="col-md-2"></div>
<div class="col-md-8 container">

    <div class="panel panel-default">
        <div class="panel-heading">
            Product Report
        </div>
        <div class="panel-body">

            <div class="table-responsive">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Warehouse</th>
                            <th>Quantity</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for location,product in result.items() %}
                        {% for product,quantity in  result[location].items() %}
                        <tr>
                            <td>{{product[1]}}</td>
                            <td>{{location}}</td>
                            <td>{{quantity}}</td>



                        </tr>
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>
    </div>

</div>
{% endblock %}